/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    border: solid #EBEBEB 1px;
}
nav img {
    width: 100px;
}

nav {
    display: flex;
    position: fixed;
    background-color: white;
    width: 85%;
    height: 63px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    border: solid #EBEBEB 1px;
}
body {
    max-width: 100%;
    background-color: white;
}
header {
    padding: 20px;
    margin: 20px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: serif caption bold;
    font-size: 40px;
}
header p {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #797D88;
    margin-bottom: 20px;
}
.segundo {
    text-align: center;
}
input {
    border-radius: 4px;
    padding: 5px;
    border: solid 1px #EBEBEB;
    height: 30px;
    margin-bottom: 8px;
}
button {
    border-radius: 4px;
    background-color: #4049AA;
    border: solid #4049AA 1px;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 8px;
    height: 40px;
}
header div img {
    width: 100%;
}

main img {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
}
main {
    width: auto;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}

.article{
    background-color: #F4F3F4;
    text-align: center;
}
#boton2{
    border-radius: 4px;
    background-color: white;
    border: solid #B1B6DB 1px;
    color: #303EA1;
    font-weight: bold;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 25px;
    height: 40px;
    width: 100%;
}
.article h2 {
    font-weight: bold;
    color: #323847;
    padding: 5px 0 5px 0;
    font-size: 30px;
    font-family: 'IM Fell Double Pica', serif;
    font-weight: bold;
}
.article p {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #797D88;
    margin-bottom: 10px;
    font-size: 14px;
}

.fondo1 {
    background-color: white;
}
.fondo2 {
    background-color: #F4F3F4;
}
.parteblanca {
    background-color: white;
    text-align: center; 
}
.colaborador {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colaborador img {
    margin: 20px 0 20px 0;
    width: 40%;
    height: 40%;
}
#losAngeles {
    width: 65%;
}
hr {
    width: 100%;
    height:0; 
    border:0; 
    border-top:1px solid #EBEBEB; 
}
#negrita {
    font-weight: bold;
    color: #323847;
    padding: 5px 0 5px 0;
    font-size: 20px;
}
#diferente {
    padding: 5px 0 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: black;
}
.parteblanca input {
    width: 80%;
}
.parteblanca button {
    width: 83%;
}

footer{
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.fondo3 {
    background-color: white;
}
footer div img {
    width: 100px;
    float: left;
    margin-left: -20px;
    margin-top: -20px;
}
footer div {
    display: flex;
    display: inline;
    align-content: flex-start;
}
.titulo {
    color: #6C707A;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.primerBloque {
    display: flex;
    flex-flow: row wrap;
}
.bloque1 {
    color: #6D717B;
    font-family: 'Arial Narrow Bold', sans-serif;
    width: 48%;
    line-height: 2em; 
}
.bloque2 {
    color: #6D717B;
    font-family: 'Arial Narrow Bold', sans-serif;
    width: 48%;
    line-height: 2em; 
}
.bloque3 {
    color: #6D717B;
    font-family: 'Arial Narrow Bold', sans-serif;
    width: 48%;
    line-height: 2em; 
    margin-top: 5px;
}
.bloque4 {
    color: #6D717B;
    font-family: 'Arial Narrow Bold', sans-serif;
    width: 48%;
    line-height: 2em;
    margin-top: 5px; 
}
footer ul li {
    list-style: none;
}
.fondo4 {
    background-color: #F4F3F4;;
}
.fondo4 .contacto ul li{
    list-style: none;
    margin: 15px 0 5px 0;
}
.fondo4 .contacto ul{
    color: #6C707A;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;   
}
.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.enlaces img{
    width: 30px;
    margin-right: 10px;
}
.enlaces span{
    color: #6C707A;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.fa-chevron-down{
    color: black;
}
.fa-twitter{
    color: #6C707A;
    font-size: 25px;
}
.fa-facebook-f {
    color: #6C707A;
    font-size: 20px;
}
.fa-youtube {
    color: #6C707A;
    font-size: 25px;
}
.enlaces i {
    order: 2;
    margin-left: 15px;
    
}
.idioma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    
}
.logosEnlaces {
    display: flex;
    margin: 5px 0 10px 0;
}


@media screen and (max-width: 767px) and (min-width: 0) {

nav ul {
    display: none;
    }
.logonav .fa-times{
    display: none;
    }
.contenedor {
    max-width: 100%;
    max-height: 100%;
    }
body {
    max-width: 767px;
}


/*
@media (max-width: 961px > width > 767px) {

}
@media (1024px > width > 960px) {

}
@media (max-width: 1200px) {
}